<footer class="bg-gray-light">
  <div class="container-lg p-responsive py-4 ">
    <div class="d-flex flex-justify-between">
      <ul class="list-style-none float-right text-small">
        <li class="d-none d-lg-inline-block ml-lg-2">
          <a href="https://github.com/alexanderiscoding/alexanderiscoding/issues" target="_blank">Relatar problema</a>
        </li>
        <li class="d-none d-lg-inline-block ml-lg-2">
          <a href="https://github.com/alexanderiscoding/alexanderiscoding/discussions/categories/ideas" target="_blank">Solicitar melhorias</a>
        </li>
        <li class="d-none d-lg-inline-block ml-lg-2">
          <a href="https://github.com/alexanderiscoding/alexanderiscoding/discussions/categories/announcements" target="_blank">Noticias</a>
        </li>
      </ul>
      <a href="/" class="text-center">
        <span class="sr-only">Voltar ao Inicio</span>
        <img src="https://assets.alexanderiscoding.com/favicons/favicon-32x32.png" alt="Logo of Alexanderiscoding">
      </a>
      <ul class="list-style-none float-left text-small">
        <li class="d-inline-block mr-lg-2"><a href="/vdp">Vulnerabilidades</a></li>
        <li class="d-none d-lg-inline-block mr-lg-2"><a href="/privacy">Privacidade</a></li>
        <li class="d-none d-lg-inline-block mr-lg-2"><a href="/terms">Termos</a></li>
      </ul>
    </div>
    <p class="border-top text-center f5 mt-4 pt-4">&copy; 2022 - {{ site.time | date: '%Y' }} Alexanderiscoding.</p>
  </div>
</footer>
</body>