<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charSet="utf-8" />
	<title>Alexanderiscoding</title>
	<meta name="robots" content="index,follow" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="https://alexanderiscoding.com" />
	<meta property="og:title" content="Alexanderiscoding" />
	<meta property="og:description"
		content="Eu sou Alexander, um desenvolvedor altamente experiente, apaixonado por programação e atento aos detalhes. Com experiência em várias linguagens de programação, estruturas e tecnologias, especializei-me no desenvolvimento de software personalizados, na criação de interfaces de usuário atraentes e na implementação de sistemas de back-end robustos." />
	<meta property="og:image" content="https://files.alexanderiscoding.com/favicons/og.png" />
	<meta content="pt-br" httpEquiv="Content-Language" />
	<meta content="Alexanderiscoding" name="apple-mobile-web-app-title" />
	<link rel="apple-touch-icon" sizes="57x57" href="https://files.alexanderiscoding.com/favicons/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="https://files.alexanderiscoding.com/favicons/apple-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="https://files.alexanderiscoding.com/favicons/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://files.alexanderiscoding.com/favicons/apple-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180"
		href="https://files.alexanderiscoding.com/favicons/apple-icon-180x180.png" />
	<link rel="icon" type="image/png" sizes="192x192"
		href="https://files.alexanderiscoding.com/favicons/android-icon-192x192.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="https://files.alexanderiscoding.com/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96"
		href="https://files.alexanderiscoding.com/favicons/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="https://files.alexanderiscoding.com/favicons/favicon-16x16.png" />
	<link rel="icon" type="image/x-icon" href="https://files.alexanderiscoding.com/favicons/favicon.ico">
	</link>
	<link rel="manifest" href="https://files.alexanderiscoding.com/favicons/manifest.json" />
	<meta name="msapplication-TileColor" content="#d8d7d5" />
	<meta name="msapplication-TileImage" content="https://files.alexanderiscoding.com/favicons/ms-icon-144x144.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<link rel="stylesheet" href="{{"/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<link as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
</head>

<body>

	{% if page.url == "/" %}
	<header class="bg-gray-light pt-4 pb-5">
		<div class="container-lg p-responsive py-4 py-lg-6 my-xl-4 text-center">
			<a class="nolink" href="{{ "/" | relative_url}}"><h1 class="logo alt-h1 mb-2">Alexanderiscoding</h1></a>
			<p class="f2-light">Focado em software que possa beneficiar a comunidade, promovendo melhorias na vida cotidiana e facilitando o acesso a serviços essenciais.</p>
		</div>
	</header>
	{% else %}
	<header class="bg-gray-light py-lg-6 text-center">
		<a class="nolink py-3" href="{{ "/" | relative_url}}"><h2 class="logo alt-h2 mb-2">Alexanderiscoding</h2></a>
	</header>
	{% endif %}

	{% if page.url == "/" %}
		{{ content }}
	{% else %}
	<main class="container-lg p-responsive py-4">
		{{ content }}
	</main>
	{% endif %}

	<footer class="bg-gray-light">
		<div class="container-lg p-responsive py-4 ">
			<div class="d-flex flex-justify-between">
				<ul class="list-style-none float-right text-small">
					<li class="d-none d-lg-inline-block ml-lg-2"><a
							href="https://github.com/alexanderiscoding/alexanderiscoding/discussions" target="_blank">Comunidade</a>
					</li>
					<li class="d-none d-lg-inline-block ml-lg-2"><a
							href="https://github.com/alexanderiscoding/alexanderiscoding/issues" target="_blank">Issues</a></li>
					<li class="d-inline-block ml-lg-2"><a href="mailto:github@alexanderiscoding.com">Contate-me</a></li>
				</ul>
				<a href="{{ "/" | relative_url}}" class="text-center">
					<span class="sr-only">Voltar ao Inicio</span>
					<img src="https://files.alexanderiscoding.com/favicons/favicon-32x32.png" alt="Logo of Alexanderiscoding">
				</a>
				<ul class="list-style-none float-left text-small">
					<li class="d-inline-block mr-lg-2"><a href="vdp">Vulnerabilidades</a></li>
					<li class="d-none d-lg-inline-block mr-lg-2"><a href="privacy">Privacidade</a></li>
					<li class="d-none d-lg-inline-block mr-lg-2"><a href="terms">Termos</a></li>
				</ul>
			</div>
			<p class="border-top text-center f5 mt-4 pt-4">&copy; 2022 - {{ site.time | date: '%Y' }} Alexanderiscoding.</p>
		</div>
	</footer>
</body>

</html>